.header{
  padding: 40px 0 100px 0;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  display:flex;
  justify-content: space-between;
}

.logo{
  width: 190px;
  height: 35px;
  background: url('img/logo1.svg');
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item{
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration:none;
  transition: opacity .5s;
}
.menu__item:last-child{
  margin-right: 0;
}
.menu__item:hover{
  opacity: 0.5;
}
.menu__item:hover:after{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:after{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover:after, .menu__item_active:after{
  opacity: 1;
  width: 100%
}

/*.menu__item_active::after{
display:block;
content:'';
width: 100%;
height: 3px;
background: #0056EC;
}*/

.main{
  width: 80%;
  margin: auto;
  padding-bottom: 250px;
  background: url(img/main_img1.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;

}
.main__title{
  margin-top: 0 0 40px 0;
  font: 700 66px/87px 'pt serif', arial, helvetica, sans-serif;
  width: 40%;
}
.main__title_blue{
  background: #ECF3FF;
}
.main__subtitle{
  margin: 0 0 40px 0;
  font: 400 22px/26px 'Roboto', arial, helvetica, sans-serif;
  width: 30%;
}
.main__button{
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  padding: 18px 21px;
  text-decoration: none;
  color: #fff;
  background: #0056EC;
  border-radius: 4px;
 transition: all 0.5s ease;
}
.main__button:hover{
  background: #52D2BC;
}

@media (min-width:770px) {
  .burger{
    display: none;
  }
}

@media(max-width:768px) {
  .header{
    margin: 24px 24px 24px 24px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .logo{
    width: 36px;
    height: 35px;
    background: url('img/mobile_logo1.svg');
  }
  .menu{
    display: none;
    padding-top: 24px;
  }
  .main{
    margin: 0 50px 43px 50px;
    padding: 74% 0 0;
    background-size: 100%;
    background-position: top center;
    text-align: center;
  }
  .main__title{
    margin-bottom: 44px;
    font: 700 30px/40px 'pt serif', arial, helvetica, sans-serif;
    width: 100%;
  }
  .main__subtitle{
    margin-bottom: 50px;
    font: 500 16px/19px 'Roboto', arial, helvetica, sans-serif;
    width: 100%;
  }
  .main__button{
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    padding: 14px 21px;
  }

  #checkbox{
    opacity: 0;
  }
  #checkbox:checked ~ .menu__btn > span{
    transform: rotate(45deg);
  }
  #checkbox:checked ~ .menu__btn > span:before{
    top: 0;
    transform: rotate(0);
  }
  #checkbox:checked ~ .menu__btn > span:after{
    top: 0;
    transform: rotate(90deg);
  }
  #checkbox:checked ~ .menu__box{
    visibility: visible;
    left: 0;
  }

  .menu__btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 32px;
    left: auto;
    width: 25px;
    height: 3px;
    cursor: pointer;
    z-index: 1;
    background-color: #0056EC;
  }
  .menu__btn > span, .menu__btn > span:before, .menu__btn > span:after{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0056EC;
  }

    .menu__btn > span:before{
    content: "";
    top: 8px;
    height: 3px;
  }
    .menu__btn > span:after{
    content: "";
    top: 16px;
    height: 3px;
  }

  .menu__box{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 186px 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
  }
  .menu__item-burger{
    display: block;
    padding: 24px 24px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    line-height: 35px;
    text-decoration: none;
  }
  .menu__item-burger:hover{
    background-color: #7EE8D4;
    opacity: 30%;
  }
}
