.header{
  padding: 32px 0 43px 0;
  width: 80%;
  margin: auto;
  display:flex;
  justify-content: space-between;
}

.logo{
  width: 190px;
  height: 35px;
  background: url('img/logo1.svg');
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item{
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration:none;
  transition: opacity .5s;
}
.menu__item:last-child{
  margin-right: 0;
}
.menu__item:hover{
  opacity: 0.5;
}
.menu__item:hover:after{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:after{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover:after, .menu__item_active:after{
  opacity: 1;
  width: 100%
}

.main{
  width: 80%;
  margin: auto;
  padding-left: 10px;
  padding-right: 21px;
  padding-bottom: 250px;
  background: url(img/main_img1.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;
}
.main__title{
  margin-top: 125px;
  margin-bottom: 35px;
  padding-top: 73px;
  padding-left: 3px;
  font: 1000 66px/88px 'pt serif', arial, helvetica, sans-serif;
  width: 40%;
}
@keyframes change-background {
  0%{
    background: #ECF3FF;
  }
  30%{
    background: #7EE8D4;
  }
  80%{
    background: #5193F4;
  }
  100%{
    background: #ECF3FF;
  }
}
.main__title_blue{
  background: #ECF3FF;
  animation: change-background 10s infinite ease-in-out;
}
.main__subtitle{
  margin: 0 0 57px 0;
  padding-left: 3px;
  font: 400 22px/26px 'Roboto', arial, helvetica, sans-serif;
  width: 30%;
}
.main__button{
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  padding: 18px 21px;
  text-decoration: none;
  color: #fff;
  background: #0056EC;
  border-radius: 4px;
 transition: all 0.5s ease;
}
.main__button:hover{
  background: #52D2BC;
}
.menu__toggle{
  display: none;
}

@media(min-width:770px){
  .burger{
    display: none;
  }
}
@media(max-width:1500px){
  .wrapper{
    margin: 0 auto;
    width: max-content;
  }
  .header{
    margin: 40px 0 20px 31px;
    padding: 0;
    width: 100%;
  }
  .menu__item{
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    margin-right: 30px;
  }
  .main{
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 150px;
  }
  .main__title{
    padding: 12px 0 0 30px;
    font: 700 50px/67px 'pt serif', arial, helvetica, sans-serif;
    width: 50%;
  }
  .main__subtitle{
    padding-left: 30px;
    font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
    width: 35%;
  }
  .main__button{
    margin-left: 30px;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    padding: 14px 21px;
  }
}

@media (max-width:1200px) {
  


@media(max-width:768px) {
  .wrapper{
    margin: auto;
  }
  .header{
    margin: 24px 14px 20px 16px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .logo{
    width: 36px;
    height: 35px;
    background: url('img/mobile_logo1.svg');
  }
  .menu{
    display: none;
  }
  .main{
    margin: 0 55px 43px 35px;
    padding: 74% 0 0;
    background-size: 100%;
    background-position: top center;
    text-align: center;
  }
  .main__title{
    margin-top: 0;
    margin-bottom: 31px;
    padding: 3px 0 0 0;
    font: 700 30px/40px 'pt serif', arial, helvetica, sans-serif;
    width: 100%;
  }
  .main__subtitle{
    margin-bottom: 38px;
    font: 500 16px/19px 'Roboto', arial, helvetica, sans-serif;
    width: 100%;
  }
  .main__button{
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    padding: 14px 21px;
  }

  #menu__toggle{
    opacity: 0;
  }
  .menu__button {
    display: flex;
    align-items: center;
    position: fixed;
    top: 3%;
    left: 87%;
    width: 25px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__button > span,
  .menu__button > span::before,
  .menu__button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056ec;
  }
  .menu__button > span::before {
    content: '';
    top: -8px;
  }
  .menu__button > span::after {
    content: '';
    top: 8px;
  }
  .menu__burger {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s;
  }
  .menu__item_burger {
    display: block;
    padding: 3px 0;
    color: #333;
    margin: 10px 0 30px 0;
    font: bold 30px/21px Roboto, arial, helvetica, sans-serif;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  .menu__item_burger:first-child {
    margin-right: 0;
    margin-top: 51%;
  }
  #menu__toggle:checked ~ .menu__button > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__button > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__button > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__burger {
    visibility: visible;
    left: 0;
  }
  .bottom{
    display: none;
  }
  .menu__item_burger:hover{
    background-color: #7EE8D4;
    opacity: 30%;
}
